/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;

    /* generic projects styles */
    color: #3a3a3a;

}

/* header */
header {
    background-color: #f6d7b0;
    padding: 30px;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 1cap #3a3a3a;
}

header a {
    text-decoration: none;
    color: #008180;
}

#menu {
    font-size: 120%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu > li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.active {
    border-bottom: 2px solid #008180;

}

/* main */
main {
    background-color: blue;
    /* make main element take up surplus space */
    flex: 1 0 auto;
}

h1 {
        font-family: "Playfair Display", sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        letter-spacing: 2px;
        font-style: normal;
      }
      

/* footer */
footer {
    background-color: orange;
}