/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;

    /* generic projects styles */
    color: #3a3a3a;

}

h1, h2, h3 {
    font-family: "Playfair Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    letter-spacing: 2px;
    font-style: normal;
  }

/* header */
header {
    background-color: #f6d7b0;
    padding: 30px;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 1cap #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #008180;
}

#menu {
    font-size: 120%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu > li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.active {
    border-bottom: 2px solid #008180;

}

/* navigation bar with dropdown function */
nav {
    position: absolute;
    background-color: #f6d7b0;
    width: 100%;
    left: 0;
    text-align: center;
    padding: 0;
    display: none;
    top: 100%;

}

/* nav toggle */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 30px;
}


/* main */
main {
    background-color: white;
    /* make main element take up surplus space */
    flex: 1 0 auto;
    margin-top: 106px;
}

/* here section */
#hero {
    height: 650px;
    width: 100%;
    background: url(../images/smoothies-recipes-2.jpg) no-repeat center  center/cover;
    position: relative;

}

#cover-text {
    font-size: 100%;
    width: 100%;
    min-height: 100px;
    position: absolute;
    padding: 40px;
    margin-top: 30px;
    text-align: center;

}

#cover-text > h2, #cover-text > h3 {
    color: white;
}


/* pros / benefits home page section */

#benefits, h2 {
    padding-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#health-benefits-top {
    padding-left: 30px;
    text-align: left;
    padding-right: 30px;

}

#health-benefits-bottom {
    padding-left: 30px;
    text-align: left;
    padding-right: 30px;
    margin-top: 20px;

}

#personal-benefits-top {
    padding-left: 30px;
    text-align: left;
    padding-right: 30px;
    margin-top: 20px;

}

#personal-benefits-bottom {
    padding-left: 30px;
    text-align: left;
    padding-right: 30px;
    margin-bottom: 20px;
    margin-top: 20px; 
}

/* Gallery Page */
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}

/* footer */
#social-networks {
    background-color: #f6d7b0;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
}

/* quick links will grow and shrink depending on size of screen.*/
#quick-links {
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
    justify-content: space-evenly;
    display: flex;
    background-color: #f6d7b0;
    padding-top: 10px;
}

/* for table or larger screen size */
@media screen and (min-width:768px) {
    nav {
        display: block;
        padding-right: 1rem;
        position: relative;
        width: fit-content;
        box-shadow: none;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    main {
        margin-top: 110px;

    }

    #pros {
        max-width: 50%;
    }

    /* images on home page */

#essential-nutrients-img {
    background: url(../images/fruit&veg.jpeg) no-repeat top center / cover;
    height: 500px;
    width: 500px;
    max-width: 500px;
    max-height: 500px;
    float: right;
    padding-right: 50%;
    margin-right: 10px;
}

    
}
/* 992px and up (large devices) nav hover function*/
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 2px solid #008180;
    }
}
